*.txt
*.md
*.log
*.uncaughtException
source-context.json
source-contexts.json
ssl
.git
.tmp
bin
dist
test
specs
node_modules
public/components
conf/localhost.pem
conf/config-test.toml
conf/config-development.toml
Dockerfile-*
app-*.yaml