<div ng-controller="ProfilePayPalSuccessCtrl">
  <div class="row">
    <div class="center col-sm-12 col-md-12">
      <header>
        <h2>Enjoy your premium {{config.plans[Google.profile.plan.name].name||Google.profile.plan.name}} plan!</h2>
      </header>
      <div>
        <p style="margin:20px 0">Your premium account will be prepared for you immediately after we receive payment confirmation from PayPal.</p>
        <p>This may take up to a few minutes. <strong>Thank you for your patience.</strong></p>
      </div>
    </div>
  </div>
</div>